body {
  font-family:      微软雅黑;
  font-size:        medium;
  background-image: url('1.jpg');
  background-repeat:no-repeat;                     
  margin-top:       5%;
  background-size:  cover;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
  text-align:       center;
  margin:           0px auto
}
a {
  text-decoration:  none; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        150%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}
td, th {
  padding:          5px;
  text-align:       left;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600; 
}

/*** Tables ***/

table {
font-size:          1em;
background-color:   #EEEEEE;
padding:            5px 5px 2px;
border-collapse:    collapse;
margin:             0px auto;
border-radius:      25px;
background-color:   #EEEEEE;
position: relative;
left: 14px;
top:  48px
}


/*** Inputs ***/
input[type=text] {
  font-size:        155%;
  border:           none;
  background-color: #EEEEEE;
  border-radius:      25px;
}
input[type=submit] {
  font-size:        125%;
  border-radius:    25px;
  background-color:  #999999;
  position: relative;
  left: 250px;
  bottom: 0px
}
select {
  font-size:        125%;
}
